@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1112px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.form-contacts {
  max-width: 390px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .form-contacts {
    max-width: 100%;
    padding: 0 35px;
  }
}
@media (max-width: 991.98px) {
  .form-contacts {
    padding: 0;
  }
}
.form-contacts__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin: 0 -30px 75px;
}
@media (max-width: 1112px) {
  .form-contacts__row {
    margin: 0px -15px 75px;
  }
}
@media (max-width: 991.98px) {
  .form-contacts__row {
    margin: 0px -15px 35px;
  }
}
@media (max-width: 767.98px) {
  .form-contacts__row {
    display: block;
    margin: 0 0 35px;
  }
}
.form-contacts__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 30px;
}
@media (max-width: 1112px) {
  .form-contacts__column {
    padding: 0 15px;
  }
}
@media (max-width: 767.98px) {
  .form-contacts__column {
    padding: 0;
    margin: 0px 0px 15px 0px;
  }
}
.form-contacts__label {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 0px 0px 15px 0px;
}
.form-contacts__button {
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 991.98px) {
  .form-contacts__button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15px 0px 35px 0px;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 45px;
  cursor: pointer;
}
.btn_s {
  padding: 10px 25px;
}
.btn_s span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.btn span {
  position: relative;
  z-index: 1;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
@media (min-width: 992px) {
  .btn:hover::after {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.btn_w {
  border: 1px solid #fff;
  color: #ffffff;
}
.btn_w::after {
  background: #fff;
}
@media (min-width: 992px) {
  .btn_w:hover {
    color: #000;
  }
}
.btn_b {
  border: 1px solid #000;
  color: #000;
}
.btn_b::after {
  background: #000;
}
@media (min-width: 992px) {
  .btn_b:hover {
    color: #fff;
  }
}
.btn.fw {
  width: 100%;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  font-size: 14px;
  height: 35px;
  background-color: #f8f7f7;
  width: 100%;
  display: block;
  padding: 0px 15px;
  border-top: 2px solid #000;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.input.focus {
  border-top: 2px solid #b3a77e;
}
.input.err {
  border-top: 2px solid red;
}

textarea.input {
  padding: 15px;
  height: 120px;
  resize: none;
  width: 100%;
  background-color: #f8f7f7;
  display: block;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}
.check input {
  display: none;
}
.check:before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}
.check.active:before {
  background: url("../img/icons/check.png") center no-repeat;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
.option:last-child {
  margin-bottom: 0px;
}
.option input {
  display: none;
}
.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}
.option.active:before {
  background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rating.edit .star {
  cursor: pointer;
}
.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300;
}

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
}
.quantity__btn:before {
  font-size: 25px;
  display: inline-block;
  line-height: 10px;
  color: #a9a9a9;
}
.quantity__btn:hover:before {
  color: #da0005;
}
.quantity__btn.dwn {
  top: 25px;
}

.category-params-item-price-table {
  margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
  padding-right: 15px;
  position: relative;
}
.category-params-item-price-table .cell:first-child:after {
  content: "-";
  position: absolute;
  right: -4px;
  top: 8px;
  font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
  padding-left: 15px;
}
.category-params-item-price-table .cell input {
  height: 37px;
  border: 2px solid #393939;
  background-color: #ffffff;
  text-align: center;
  font-size: 12px;
  color: #393939;
  font-weight: 500;
  width: 100%;
}

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-range {
  background-color: #000;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-handle {
  width: 23px;
  height: 28px;
  border: 3px solid #fbfbfb;
  background-color: #ea5922;
  display: block;
  position: absolute;
  top: -14px;
  margin-left: -12px;
  cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 10px;
  margin-left: -25px;
  font-weight: 500;
  color: #94a6aa;
}

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px;
}
@media (max-width: 767.98px) {
  .form__info {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
  background-color: #093454;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
  background: url("../img/icons/range.svg") 0 0 no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  margin: -9px 0px 0px -14px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.form-range-line .ui-state-hover {
  background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0px 0px 0px;
}

.form-range-values__item {
  font-size: 12px;
  color: #888;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}
.moretext__more span {
  font-style: normal;
}
.moretext__more span:first-child {
  display: block;
}
.moretext__more span:last-child {
  display: none;
}
.moretext__more.active span {
  font-style: normal;
}
.moretext__more.active span:first-child {
  display: none;
}
.moretext__more.active span:last-child {
  display: block;
}

.graystyle {
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
.slick-slider .slick-slide {
  position: relative;
}
.tab__item {
  display: none;
}
.tab__item.active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}
.baloon button {
  display: none !important;
}
.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}
.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#baguetteBox-overlay.visible {
  opacity: 1;
}
#baguetteBox-overlay .full-image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
#baguetteBox-overlay .full-image figure {
  display: inline;
  margin: 0;
  height: 100%;
}
#baguetteBox-overlay .full-image img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#baguetteBox-overlay .full-image figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  white-space: normal;
  color: #ccc;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
}
#baguetteBox-overlay .full-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
  transition: left 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: left 0.4s ease, transform 0.4s ease;
  transition: left 0.4s ease, transform 0.4s ease;
  transition: left 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}
#baguetteBox-slider.bounce-from-right {
  -webkit-animation: bounceFromRight 0.4s ease-out;
          animation: bounceFromRight 0.4s ease-out;
}
#baguetteBox-slider.bounce-from-left {
  -webkit-animation: bounceFromLeft 0.4s ease-out;
          animation: bounceFromLeft 0.4s ease-out;
}

@-webkit-keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
.baguetteBox-button#previous-button, .baguetteBox-button#next-button {
  top: 50%;
  top: calc(50% - 30px);
  width: 44px;
  height: 60px;
}

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ddd;
  font: 1.6em sans-serif;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.baguetteBox-button:focus, .baguetteBox-button:hover {
  background-color: rgba(50, 50, 50, 0.9);
}
.baguetteBox-button#next-button {
  right: 2%;
}
.baguetteBox-button#previous-button {
  left: 2%;
}
.baguetteBox-button#close-button {
  top: 20px;
  right: 2%;
  right: calc(2% + 6px);
  width: 30px;
  height: 30px;
}
.baguetteBox-button svg {
  position: absolute;
  left: 0;
  top: 0;
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
          animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}
.popup.active .popup-content {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.popup.show {
  display: block;
}
.popup.show .popup-content {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.popup-table {
  height: 100%;
  table-layout: fixed;
}
.popup-table > .cell {
  height: 100%;
  vertical-align: middle;
  padding: 30px 10px;
}

.popup-content {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1230px;
  margin: 0px auto;
  background-color: #fff;
}

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
footer {
  position: relative;
  z-index: 50;
}

.footer {
  padding: 49px 0;
  background-color: #3c3c3c;
  text-align: center;
}
.footer__icon {
  margin: 0px 0px 40px 0px;
}
.footer__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 34px 0px;
}
.footer__list li {
  margin: 0 10px;
}
.footer__link {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #a4a4a4;
}
.footer__copy {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}

.page {
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainblock {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  min-height: 600px;
  position: relative;
}
.mainblock__content {
  padding: 50px 0;
  height: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
}
.mainblock__content .container {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainblock__text {
  color: #ffffff;
  position: relative;
  margin: 30px 0 100px;
}
.mainblock__text::after {
  content: "";
  display: block;
  width: 105px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -50px;
  margin: 0px 0px 0px -52.5px;
}
.mainblock__title {
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767.98px) {
  .mainblock__title {
    font-size: 30px;
  }
}
@media (max-width: 479.98px) {
  .mainblock__title {
    font-size: 24px;
  }
}
.mainblock__subtitle {
  font-size: 26px;
}
.mainblock__button {
  margin: 0px 0px 50px 0px;
}
.mainblock__arrow {
  position: relative;
  -webkit-animation: arrow 1.5s infinite ease;
          animation: arrow 1.5s infinite ease;
}
.mainblock__background {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 600px;
  top: 0;
  left: 0;
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
@-moz-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
@-o-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
.content {
  background-color: #fff;
  position: relative;
  z-index: 50;
}

.about {
  padding: 20px 0 95px;
}
@media (max-width: 767.98px) {
  .about {
    padding: 20px 0px 50px 0px;
  }
}
.about__header {
  margin: 0px 0px 150px 0px;
}
@media (max-width: 767.98px) {
  .about__header {
    margin: 0px 0px 50px 0px;
  }
}
.about__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767.98px) {
  .about__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.about__list li {
  text-align: center;
  margin: 0 25px;
}
@media (max-width: 767.98px) {
  .about__list li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 15px 0;
  }
}
.about__link {
  font-size: 15px;
  line-height: 1.2;
  color: #3c3c3c;
}
@media (min-width: 992px) {
  .about__link:hover {
    text-decoration: underline;
  }
}
.about__link.active {
  color: #ada074;
  font-weight: 700;
}
.about__body {
  margin: 0px 0px 70px 0px;
}
.about__footer {
  max-width: 860px;
  margin: 0px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0px -15px;
}
@media (max-width: 991.98px) {
  .about__row {
    display: block;
  }
}
.about__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.block {
  text-align: center;
  max-width: 690px;
  margin: 0px auto;
}
.block__titile {
  position: relative;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
  margin: 0px 0px 75px 0px;
}
.block__titile::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -35px;
  left: 50%;
  margin: 0px 0px 0px -40.5px;
  display: block;
  width: 81px;
  height: 1px;
  background-color: #000000;
}
.block__subtitle {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
}

.item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__icon {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid #f3f3f3;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 35px 0px;
}
@media (max-width: 767.98px) {
  .item__icon {
    margin: 0px 0px 15px 0px;
  }
}
.item__icon_l img {
  margin: 0px -10px 0px 0px;
}
.item__title {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.16em;
  color: #000000;
  margin: 0px 0px 35px 0px;
}
@media (max-width: 767.98px) {
  .item__title {
    margin: 0px 0px 15px 0px;
  }
}
.item__text {
  max-width: 100%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
}

.portfolio {
  padding: 110px 0 60px;
  background: #f3f3f3;
}
@media (max-width: 767.98px) {
  .portfolio {
    padding: 60px 0px 40px 0px;
  }
}
.portfolio__items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0px -15px 65px;
}
.portfolio__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 15px;
  max-width: 50%;
}
@media (max-width: 991.98px) {
  .portfolio__column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }
}
.portfolio__item img {
  width: 100%;
}
.portfolio__footer {
  text-align: center;
}

.filter {
  margin: 0px 0px 135px 0px;
}
@media (max-width: 767.98px) {
  .filter {
    margin: 0px 0px 50px 0px;
  }
}
.filter__list {
  max-width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 479.98px) {
  .filter__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.filter__item {
  font-size: 15px;
  line-height: 1.2;
  color: #3c3c3c;
  margin: 0 25px;
  cursor: pointer;
}
@media (max-width: 479.98px) {
  .filter__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0 0 20px;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .filter__item:hover {
    text-decoration: underline;
  }
}
.filter__item.active {
  font-weight: 700;
  color: #ada074;
}

.partners {
  position: relative;
  padding: 100px 0;
  text-align: center;
}
@media (max-width: 1112px) {
  .partners {
    padding: 50px 0;
  }
}
@media (max-width: 991.98px) {
  .partners {
    padding: 20px 0;
  }
}
.partners__body {
  position: relative;
  z-index: 2;
}
.partners__title {
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0px 0px 95px 0px;
}
@media (max-width: 1112px) {
  .partners__title {
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 1112px) {
  .partners__title {
    margin: 0px 0px 20px 0px;
    font-size: 24px;
  }
}
.partners__icons img {
  margin: 0 55px;
}
@media (max-width: 1112px) {
  .partners__icons img {
    margin: 0px 35px;
  }
}
@media (max-width: 991.98px) {
  .partners__icons img {
    margin: 20px 15px;
  }
}
.partners__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.contacts {
  padding: 180px 0 100px;
}
@media (max-width: 991.98px) {
  .contacts {
    padding: 50px 0px 50px 0px;
  }
}
.contacts__title {
  margin: 0px 0px 120px 0px;
}
@media (max-width: 991.98px) {
  .contacts__title {
    margin: 0px 0px 50px 0px;
  }
}
.contacts__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
@media (max-width: 991.98px) {
  .contacts__body {
    display: block;
  }
}
.contacts__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.contacts__column:first-child {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 991.98px) {
  .contacts__column:first-child {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .contacts__column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.contacts__form {
  margin: 0px 150px 0px 0px;
}
@media (max-width: 1400px) {
  .contacts__form {
    margin: 0px 75px 0px 0px;
  }
}
@media (max-width: 1112px) {
  .contacts__form {
    margin: 0px 35px 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .contacts__form {
    margin: 0px;
  }
}
.contacts__content {
  max-width: 270px;
  margin: 0px 0px 0px 18px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
}
@media (max-width: 991.98px) {
  .contacts__content {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
  }
}
.contacts__text {
  margin: 0px 0px 40px 0px;
}
.contacts__name {
  margin: 0px 0px 25px 0px;
  font-weight: 700;
}
.contacts__social {
  margin: 0px 0px 15px 0px;
}
.contacts__email a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.social-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
@media (max-width: 991.98px) {
  .social-block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.social-block__icon {
  display: block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 2px solid #1e1e1e;
  margin: 0px 10px 0px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 991.98px) {
  .social-block__icon {
    margin: 0px 5px;
  }
}
.social-block__icon:hover {
  background: #b3a77e;
  -webkit-box-shadow: 0 0 5px #4e4675;
          box-shadow: 0 0 5px #4e4675;
}